@page "/"
@inject NavigationManager NavigationManager

<div class="page-title">
	<div class="page-header">
		headerheaderheaderheaderheaderheaderheaderheader
	</div>
</div>

<h1>TOP OF PAGE</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="Navigate">navigate with regular button</button>
<MudButton OnClick="Navigate">navigate with MudButton</MudButton>
<MudButton OnClick="EventUtil.AsNonRenderingEventHandler(Navigate)">navigate with MudButton as nonrendering</MudButton>

@code {
	bool suppressRender;

	protected override bool ShouldRender() => !suppressRender;

	protected void Navigate()
	{
		suppressRender = true;
		NavigationManager.NavigateTo("/counter", false, true);
	}
}